<img src="https://i.imgur.com/OB43U08.jpg">
TAGS: SQL, Database Querying, Conditional Statements

You are given the below tables, showing student attendance information as well as the grade level (grades 7-8) that each student is in. The columns are labeled in such a way that you should be able to interpret what each field is showing.

__student_attendance_log__

| student_id | attendance_status |
|------------|-------------------|
|57510       |	Present
|57509       |	Present
|57508       |	Tardy
|57507       |	Absent
|57506       |	Present
|57505       |	Present
|57504       |	Present
|57503       |	Tardy
|57501       |	Absent
|57500       |	Present
|57499       |	Tardy
|57498       |	Absent
|57497       | 	Present	

__student_info__

| student_id | grade_level |
|------------|-------------|
|57510       |7
|57509       |7
|57508       |8
|57507       |8
|57506       |7
|57505       |7
|57504       |8
|57503       |8
|57501       |8
|57500       |8
|57499       |7
|57498       |7
|57497       |8

Using the tables above, write a SQL query to return the % of students by grade that are either tardy or absent in your attendance log. As shown in the tables, each student id is unique and exists across both tables.

Your output should return the following columns:

|grade_level |	percent_absent_tardy |	total_num_students
|------------|-----------------------|--------------------|
|7           |0.XX                   |N
|8           |0.YY                   |N

# Note: This is my struggle to learn SQL. Final single query at end

In [69]:
# Needed installs
# !pip install ipython-sql
# !pip install psycopg2 # brew install postgresql if you don't have it installed
# !pip install SQLAlchemy

In [2]:
import sqlalchemy
sqlalchemy.create_engine('postgresql://user:password@localhost/mydatabase')

Engine(postgresql://user:***@localhost/mydatabase)

In [3]:
%load_ext sql

In [4]:
%sql postgresql://postgres:password@localhost/attendance_dist

In [5]:
%%sql
SELECT * FROM student_info
LIMIT 5;

 * postgresql://postgres:***@localhost/attendance_dist
5 rows affected.

[(57510, 7), (57509, 7), (57508, 8), (57507, 8), (57506, 7)]

In [6]:
%%sql
SELECT * FROM student_attendance_log
LIMIT 5;

 * postgresql://postgres:***@localhost/attendance_dist
5 rows affected.

[(57510, 'Present'),
 (57509, 'Present'),
 (57508, 'Tardy'),
 (57507, 'Absent'),
 (57506, 'Present')]

In [7]:
%%sql
SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status
FROM student_info
INNER JOIN student_attendance_log
    on student_info.student_id = student_attendance_log.student_id

 * postgresql://postgres:***@localhost/attendance_dist
13 rows affected.

[(57497, 8, 'Present'),
 (57498, 7, 'Absent'),
 (57499, 7, 'Tardy'),
 (57500, 8, 'Present'),
 (57501, 8, 'Absent'),
 (57503, 8, 'Tardy'),
 (57504, 8, 'Present'),
 (57505, 7, 'Present'),
 (57506, 7, 'Present'),
 (57507, 8, 'Absent'),
 (57508, 8, 'Tardy'),
 (57509, 7, 'Present'),
 (57510, 7, 'Present')]

In [8]:
%%sql
-- # This allows the notebook to run from top to bottom smoothly
DROP TABLE IF EXISTS output

 * postgresql://postgres:***@localhost/attendance_dist
Done.

[]

In [9]:
%%sql
CREATE TABLE public.output
(
    grade_level INTEGER,
    percent_absent_tardy FLOAT,
    total_num_students TEXT
)

 * postgresql://postgres:***@localhost/attendance_dist
Done.

[]

In [10]:
%%sql
SELECT DISTINCT grade_level
FROM student_info

 * postgresql://postgres:***@localhost/attendance_dist
2 rows affected.

[(7,), (8,)]

In [11]:
# TODO
# Possible nested. INSERT queries
# WITH statement

In [12]:
%%sql
INSERT INTO public.output (grade_level, total_num_students)
SELECT DISTINCT grade_level, COUNT(grade_level)
FROM student_info
GROUP BY grade_level;

 * postgresql://postgres:***@localhost/attendance_dist
2 rows affected.

[]

In [13]:
%%sql
SELECT * FROM public.output

 * postgresql://postgres:***@localhost/attendance_dist
2 rows affected.

[(7, None, '6'), (8, None, '7')]

In [25]:
%%sql
-- # ASSUMPTIONS they want percentage absent OR tardy rather than separate percent absent/tardy
-- # TODO avg percent absent + tardy
SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status
FROM student_info
INNER JOIN student_attendance_log
    on student_info.student_id = student_attendance_log.student_id
WHERE grade_level = 7
AND attendance_status = 'Present';

 * postgresql://postgres:***@localhost/attendance_dist
4 rows affected.

[(57510, 7, 'Present'),
 (57509, 7, 'Present'),
 (57506, 7, 'Present'),
 (57505, 7, 'Present')]

In [56]:
%%sql
WITH t1 AS 
    (SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status AS n
    FROM student_info
    INNER JOIN student_attendance_log
        on student_info.student_id = student_attendance_log.student_id)
SELECT t1.grade_level, t1.attendance_status, t1.n, 
       (0.0+n)/(COUNT(*) OVER (PARTITION BY grade_level)) -- no integer divide!
FROM t1;

 * postgresql://postgres:***@localhost/attendance_dist
(psycopg2.errors.UndefinedColumn) column "attendance_status" does not exist
LINE 5: SELECT grade_level, attendance_status, n,
                            ^

[SQL: WITH t1 AS (SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status AS n
    FROM student_info
    INNER JOIN student_attendance_log
        on student_info.student_id = student_attendance_log.student_id)
SELECT grade_level, attendance_status, n,
       (0.0+n)/(COUNT(*) OVER (PARTITION BY grade_level)) -- no integer divide!
FROM t1;]
(Background on this error at: http://sqlalche.me/e/f405)

In [61]:
%%sql
SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status
FROM student_info
INNER JOIN student_attendance_log
    on student_info.student_id = student_attendance_log.student_id
WHERE grade_level = 7

 * postgresql://postgres:***@localhost/attendance_dist
6 rows affected.

[(57510, 7, 'Present'),
 (57509, 7, 'Present'),
 (57506, 7, 'Present'),
 (57505, 7, 'Present'),
 (57499, 7, 'Tardy'),
 (57498, 7, 'Absent')]

In [128]:
%%sql
SELECT ROUND(COUNT(attendance_status) * 1.0 / (SELECT COUNT(*) FROM student_info WHERE grade_level = 7), 2)
FROM (
    SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status
    FROM student_info
    INNER JOIN student_attendance_log
        on student_info.student_id = student_attendance_log.student_id
    WHERE grade_level = 7
    AND attendance_status != 'Present'
) AS temp_query;

 * postgresql://postgres:***@localhost/attendance_dist
1 rows affected.

[(Decimal('0.33'),)]

In [151]:
%%sql
SELECT ROUND(COUNT(attendance_status) * 1.0 / (SELECT COUNT(*) FROM student_info WHERE grade_level = 8), 2)
FROM (
    SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status
    FROM student_info
    INNER JOIN student_attendance_log
        on student_info.student_id = student_attendance_log.student_id
    WHERE grade_level = 8
    AND attendance_status != 'Present'
) AS temp_query;

 * postgresql://postgres:***@localhost/attendance_dist
1 rows affected.

[(Decimal('0.57'),)]

In [152]:
%%sql
-- # TODO Figure out why this can't UPDATE
WITH grade_7_avg AS (
    SELECT ROUND(COUNT(attendance_status) * 1.0 / (SELECT COUNT(*) FROM student_info WHERE grade_level = 7), 2)
    FROM (
        SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status
        FROM student_info
        INNER JOIN student_attendance_log
            on student_info.student_id = student_attendance_log.student_id
        WHERE grade_level = 7
        AND attendance_status != 'Present'
    ) AS temp_query
)
UPDATE public.output
SET percent_absent_tardy = CAST(grade_7_avg AS FLOAT)
FROM grade_7_avg
WHERE grade_level = 7;

 * postgresql://postgres:***@localhost/attendance_dist
(psycopg2.errors.CannotCoerce) cannot cast type record to double precision
LINE 14: SET percent_absent_tardy = CAST(grade_7_avg AS FLOAT)
                                    ^

[SQL: -- # TODO Figure out why this can't UPDATE
WITH grade_7_avg AS (
    SELECT ROUND(COUNT(attendance_status) * 1.0 / (SELECT COUNT(*) FROM student_info WHERE grade_level = 7), 2)
    FROM (
        SELECT student_info.student_id, student_info.grade_level, student_attendance_log.attendance_status
        FROM student_info
        INNER JOIN student_attendance_log
            on student_info.student_id = student_attendance_log.student_id
        WHERE grade_level = 7
        AND attendance_status != 'Present'
    ) AS temp_query
)
UPDATE public.output
SET percent_absent_tardy = CAST(grade_7_avg AS FLOAT)
FROM grade_7_avg
WHERE grade_level = 7;]
(Background on this error at: http://sqlalche.me/e/f405)

In [150]:
%%sql
SELECT * FROM public.output;

 * postgresql://postgres:***@localhost/attendance_dist
2 rows affected.

[(7, None, '6'), (8, None, '7')]

# Done in 1 query after a lot of struggle and asking for help!

In [144]:
%%sql
SELECT grade_level, ROUND(SUM(CASE WHEN attendance_status IN ('Tardy', 'Absent') THEN 1 ELSE 0 END) * 1.0 / COUNT(*), 2) as percent_absent_tardy,
COUNT(*) AS total_num_students
FROM student_info AS si
JOIN student_attendance_log AS sl
    ON si.student_id = sl.student_id
GROUP BY grade_level;

 * postgresql://postgres:***@localhost/attendance_dist
2 rows affected.

[(7, Decimal('0.33'), 6), (8, Decimal('0.57'), 7)]