<img src="https://i.imgur.com/OB43U08.jpg">
TAGS: SQL, Database Querying, Conditional Statements

You are given the below tables, showing student attendance information as well as the grade level (grades 7-8) that each student is in. The columns are labeled in such a way that you should be able to interpret what each field is showing.
__student_attendance_log__

| student_id | attendance_status |
|------------|-------------------|
|57510       |	Present
|57509       |	Present
|57508       |	Tardy
|57507       |	Absent
|57506       |	Present
|57505       |	Present
|57504       |	Present
|57503       |	Tardy
|57501       |	Absent
|57500       |	Present
|57499       |	Tardy
|57498       |	Absent
|57497       | 	Present	

__student_info__

| student_id | grade_level |
|------------|-------------|
|57510       |7
|57509       |7
|57508       |8
|57507       |8
|57506       |7
|57505       |7
|57504       |8
|57503       |8
|57501       |8
|57500       |8
|57499       |7
|57498       |7
|57497       |8

Using the tables above, write a SQL query to return the % of students by grade that are either tardy or absent in your attendance log. As shown in the tables, each student id is unique and exists across both tables.

Your output should return the following columns:

|grade_level |	percent_absent_tardy |	total_num_students
|------------|-----------------------|--------------------|
|7           |0.XX                   |N
|8           |0.YY                   |N

In [6]:
# Needed installs
# !pip install ipython-sql
# !pip install psycopg2 # brew install postgresql if you don't have it installed
# !pip install SQLAlchemy

In [19]:
import sqlalchemy
sqlalchemy.create_engine('postgresql://user:password@localhost/mydatabase')

Engine(postgresql://user:***@localhost/mydatabase)

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%sql postgresql://postgres:password@localhost/attendance_dist

In [28]:
%%sql
SELECT * FROM student_info
LIMIT 5;

 * postgresql://postgres:***@localhost/attendance_dist
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[(57510, 7), (57509, 7), (57508, 8), (57507, 8), (57506, 7)]

In [29]:
%%sql
SELECT * FROM student_attendance_log
LIMIT 5;

 * postgresql://postgres:***@localhost/attendance_dist
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[(57510, 'Present'),
 (57509, 'Present'),
 (57508, 'Tardy'),
 (57507, 'Absent'),
 (57506, 'Present')]

In [43]:
%%sql
SELECT *
FROM student_info
LEFT JOIN student_attendance_log
    on student_info.student_id = student_attendance_log.student_id

 * postgresql://postgres:***@localhost/attendance_dist
   postgresql://postgres:***@localhost/postgres
13 rows affected.

[(57497, 8, 57497, 'Present'),
 (57498, 7, 57498, 'Absent'),
 (57499, 7, 57499, 'Tardy'),
 (57500, 8, 57500, 'Present'),
 (57501, 8, 57501, 'Absent'),
 (57503, 8, 57503, 'Tardy'),
 (57504, 8, 57504, 'Present'),
 (57505, 7, 57505, 'Present'),
 (57506, 7, 57506, 'Present'),
 (57507, 8, 57507, 'Absent'),
 (57508, 8, 57508, 'Tardy'),
 (57509, 7, 57509, 'Present'),
 (57510, 7, 57510, 'Present')]

In [63]:
%%sql
CREATE TABLE public.output
(
    grade_level INTEGER,
    percent_absent_tardy FLOAT,
    total_num_students TEXT
)

 * postgresql://postgres:***@localhost/attendance_dist
   postgresql://postgres:***@localhost/postgres
(psycopg2.errors.DuplicateTable) relation "output" already exists

[SQL: CREATE TABLE public.output (
    grade_level INTEGER,
    percent_absent_tardy FLOAT,
    total_num_students TEXT
)]
(Background on this error at: http://sqlalche.me/e/f405)

In [50]:
%%sql
SELECT DISTINCT grade_level
FROM student_info

 * postgresql://postgres:***@localhost/attendance_dist
   postgresql://postgres:***@localhost/postgres
2 rows affected.

[(7,), (8,)]

In [52]:
%%sql
INSERT INTO public.output (grade_level)
SELECT DISTINCT grade_level
FROM student_info

 * postgresql://postgres:***@localhost/attendance_dist
   postgresql://postgres:***@localhost/postgres
2 rows affected.

[]

In [61]:
%%sql
INSERT INTO public.output (total_num_students)
SELECT COUNT(grade_level) 
FROM student_info
GROUP BY grade_level;

 * postgresql://postgres:***@localhost/attendance_dist
   postgresql://postgres:***@localhost/postgres
2 rows affected.

[]

In [62]:
%%sql
SELECT AVG()

 * postgresql://postgres:***@localhost/attendance_dist
   postgresql://postgres:***@localhost/postgres
4 rows affected.

[(7, None, None), (8, None, None), (None, None, '6'), (None, None, '7')]