<img src="https://i.imgur.com/LfhrGUp.jpg">

TAGS: SQL Database, Querying

Suppose you're provided two tables, as shown below. One table contains the price for a given product in a given region, while another contains sales for the past week.

__Table: product_pricing__
    
| region | product | price |
|--------|---------|-------|
|Americas|	Pepsi  | \$2.2  |
|EMEA    |	Pepsi  | \$1.8  |
|APAC    |	Pepsi  | \$1.5  |
|Americas|	Coke   | \$2.5  |
|EMEA    |	Coke   | \$2.0  |
|APAC    |	Coke   | \$1.8  |

__Table: product_sales__

| region | product | num_sales |
|--------|---------|-----------|
|Americas|	Pepsi  |	20     |
|EMEA    |  Pepsi  |	25     |
|APAC    |  Pepsi  |	22     |
|Americas|  Coke   |	30     |
|EMEA    |  Coke   |	10     |
|APAC    |  Coke   |	13     |

Given the two tables, write a SQL query to pull the total earnings for each product/region combination.

In [1]:
import sqlalchemy
sqlalchemy.create_engine('postgresql://user:password@localhost/mydatabase')

Engine(postgresql://user:***@localhost/mydatabase)

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:password@localhost/beverage_sales

In [53]:
%%sql
SELECT * FROM product_pricing
LIMIT 5;

 * postgresql://postgres:***@localhost/beverage_sales
5 rows affected.

[('Americas', 'Pepsi', '$2.20'),
 ('EMEA', 'Pepsi', '$1.80'),
 ('APAC', 'Pepsi', '$1.50'),
 ('Americas', 'Coke', '$2.50'),
 ('EMEA', 'Coke', '$2.00')]

In [5]:
%%sql
SELECT * FROM product_sales
LIMIT 5;

 * postgresql://postgres:***@localhost/beverage_sales
5 rows affected.

[('Americas', 'Pepsi', 20),
 ('EMEA', 'Pepsi', 25),
 ('APAC', 'Pepsi', 22),
 ('Americas', 'Coke', 30),
 ('EMEA', 'Coke', 10)]

In [88]:
%%sql
SELECT product_pricing.region, product_pricing.product, price, num_sales, price * num_sales as total_earnings
FROM product_pricing
JOIN product_sales
    ON product_pricing.region = product_sales.region
    AND product_pricing.product = product_sales.product;

 * postgresql://postgres:***@localhost/beverage_sales
6 rows affected.

[('APAC', 'Coke', '$1.80', 13, '$23.40'),
 ('APAC', 'Pepsi', '$1.50', 22, '$33.00'),
 ('Americas', 'Coke', '$2.50', 30, '$75.00'),
 ('Americas', 'Pepsi', '$2.20', 20, '$44.00'),
 ('EMEA', 'Coke', '$2.00', 10, '$20.00'),
 ('EMEA', 'Pepsi', '$1.80', 25, '$45.00')]