<img src="https://i.imgur.com/j0chFI3.png">

<img src="https://mode.com/help/images/mode-playbook/describing-retention-update.png">

Given the following <a href="https://u4221007.ct.sendgrid.net/ls/click?upn=qwT-2Bl0U064-2B7oRNpPgUya0M9CbLWlzdVtmktX-2FbfOxEzAv-2F4Lc5Mo1QJts6KHCPwdu-2Fsi9PNZIWjFCex7bx2O19xahFpYOBDH-2FfZ7zJVBR1u2boYKeJk4cWwlSTCt6lu-2FpFlMWypJCAAtis58uDC8Q-3D-3Dfqll_66RVwPsuQMuiPYmVEfYC7-2BQIzVkntDaV8vWDzwN-2FRd7s4KMu7-2BHAnyXr3LgYHfQ-2Bbq3-2F-2BsGmUwQssIqI4PFtijiakoRRNVvfNDdLobBbs6fz9gUE6qilDFfiwADVF3pSoU6SQgnLXIlt67-2B3aCRcJ7f4ED6g2yF8IO1w6M2sAa3j-2Fyc8H9D-2F7viKJ8swUFMyUe9YtdJOGQvlFPIOcMIxGAT2-2B-2F7oxKviDtWNwf81zi-2BJGjAgQ6gu6jKDZsKLr-2FtG">dataset</a>, can you create a retention chart similar to the one shown in this <a href="https://u4221007.ct.sendgrid.net/ls/click?upn=qwT-2Bl0U064-2B7oRNpPgUya3ZCTrHmVkmSuR7s6F2bYBGjHVdbJn9fhTUaVjvFv06EhMEwllPq90mOxxssn5C-2FETru21BD-2BELzZkCzkVAeMxPcQed23FxC17fbQ4ETTXQkt8qe_66RVwPsuQMuiPYmVEfYC7-2BQIzVkntDaV8vWDzwN-2FRd7s4KMu7-2BHAnyXr3LgYHfQ-2Bbq3-2F-2BsGmUwQssIqI4PFtigkqtXlDUUdg5aMw48KqC6FPBA6xI7fnPrVn5Xpia6nR8sDlU6ftLTuKCp2upKUkDNQ3lpCkv8IgwANfn3ox4tq24U1kD03q8MnijjYssVieEzaCQg0eB7gpV1kXji6fQiapQZi3oNWyU55xbQjyCcAn6tBD5YqG17UDpqIAAYTm">picture</a>? In the picture, each row on the chart represents a user's sign up month and each numeric column represents the percent of users that are still "active".

Note: This dataset came from <a href="https://u4221007.ct.sendgrid.net/ls/click?upn=qwT-2Bl0U064-2B7oRNpPgUyawglfzYgBREhe4-2Bs-2B3DsOs9zf1d3IwnCAmIqQKYoGl3LSGJm1L1Q0gfUCSoQQNy4rw-3D-3DKJik_66RVwPsuQMuiPYmVEfYC7-2BQIzVkntDaV8vWDzwN-2FRd7s4KMu7-2BHAnyXr3LgYHfQ-2Bbq3-2F-2BsGmUwQssIqI4PFtivAN9-2FTxBYsiatKFTV2z8iNyfw5CLyzHJfbL-2FB00zVkyMFSOKZkX6kYAPCl6FiOmCwpJrB1u086fS095zQ0ln3F0iP-2B3zcvXkHEcvq4NrxNzhArz4-2Bt4D3xZYUKvQaIhJ-2F-2FR6NDInux2dl3MONj-2FQWrUGVIiwa-2BhZbnheK3Rfv8V">UC Irvine Machine Learning Repository</a>.

### PSEUDO BRAINSTORM
- Drop time from InvoiceDate
- Drop all duplicate entries that have same CustomerID & InvoiceDate?
- Create FirstPurchase column indicating earliest date Customer signed up
- Create Seniority column indicating how many days customer had made a purchase
- Group CustomerID by InvoiceDate
- ???
- Profit!

### ASSUMPTIONS
- Any transaction from a user on X date is considered activity
- Multiple transactions have no weight
- 24H Time does not matter
- Destruction/modification of data is not allowed. Pandas creates a separate copy so that will be modified
- Periods measured is daily
- If a customer purchases something, has no activity, and then makes a purchase X days later it is considered retention

### NOTES
-

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Creating min groupby column experiment

In [2]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

df.head()

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [3]:
df['Min_Speed'] = None
dfc = df.groupby('Animal')
df.assign(Min_Speed=dfc.transform(min))

   Animal  Max Speed  Min_Speed
0  Falcon      380.0      370.0
1  Falcon      370.0      370.0
2  Parrot       24.0       24.0
3  Parrot       26.0       24.0

## End Experiment

In [4]:
df = pd.read_csv('online_retail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [5]:
# Remove time for easier converting to Pandas Timestamp object
import re

def remove_time(time_str):
    return re.search('\d+\/\d+\/\d+', time_str).group()

df['InvoiceDate'] = df['InvoiceDate'].apply(remove_time)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10,3.39,17850.0,United Kingdom

In [6]:
# Convert from str to Pandas Timestamp obj

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom

In [7]:
# Sanity check on datatype
type(df['InvoiceDate'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [8]:
df['InvoiceDate'][0] - df['InvoiceDate'][80237]

Timedelta('-63 days +00:00:00')

In [9]:
aggregated = df.groupby(['CustomerID']).agg({'InvoiceDate': ['min']})
aggregated


# =========== CODE GRAVEYARD FOR LATER USE ============
# B/C method I used is super inefficient

# TODO figure out how to make a column for first purchase per customerid and invoicedate

# Close but FirstPurchase turns to InvoiceNo https://stackoverflow.com/questions/51074911/pandas-get-minimum-of-one-column-in-group-when-groupby-another
# dfc = df.groupby(['CustomerID'])
# df.assign(FirstPurchase=dfc.transform(min))

# df['FirstPurchase'] = df.groupby(['CustomerID']).agg({'InvoiceDate': ['min']})
# df['FirstPurchase'].reset_index()
# df.head()
# df2 = df.loc[df.groupby(['CustomerID','InvoiceDate'], sort=False)['CustomerID'].idxmin()] # https://stackoverflow.com/questions/46587018/get-lowest-value-after-groupby-pandas

# # https://stackoverflow.com/questions/46587018/get-lowest-value-after-groupby-pandas
# # Exact results I want but not creating new df.
# grouped_multiple = df.groupby(['CustomerID']).agg({'InvoiceDate': ['min']})
# grouped_multiple.columns = ['FirstPurchase']
# grouped_multiple = grouped_multiple.reset_index()
# print(type(grouped_multiple))
# grouped_multiple.head()

# df['FirstPurchase'] = df.groupby(['CustomerID', 'InvoiceDate'], sort=False)['FirstPurchase'].apply(lambda x: x.min())

           InvoiceDate
                   min
CustomerID
12346.0     2011-01-18
12347.0     2010-12-07
12348.0     2010-12-16
12349.0     2011-11-21
12350.0     2011-02-02
...                ...
18280.0     2011-03-07
18281.0     2011-06-12
18282.0     2011-08-05
18283.0     2011-01-06
18287.0     2011-05-22

[4372 rows x 1 columns]

In [10]:
# Creates a dictionary of {CustomerID: minInvoiceDate} to add to df later
# TODO Can this be done in pandas? As is this converts to str, adds to dict, and then back to datetime once it's in df
agg_dict = {}

for c1, c2 in aggregated.iterrows():
    c2_str = c2.to_string()
#     There should only be 1 unique
    agg_dict[c1] = re.search('\d{4}-\d+-\d+', c2_str).group()

In [ ]:
# Creating FirstPurchase column
df['FirstPurchase'] = None

for i, data in df.iterrows():
    if data['CustomerID'] in agg_dict:
        # TODO Convert result to datetime
        df.at[i, 'FirstPurchase'] = agg_dict[data['CustomerID']]
        
df.head()

In [ ]:
'2010-12-01'.to_datetime()