<img src="https://i.imgur.com/j0chFI3.png">

<img src="https://mode.com/help/images/mode-playbook/describing-retention-update.png">

Given the following <a href="https://u4221007.ct.sendgrid.net/ls/click?upn=qwT-2Bl0U064-2B7oRNpPgUya0M9CbLWlzdVtmktX-2FbfOxEzAv-2F4Lc5Mo1QJts6KHCPwdu-2Fsi9PNZIWjFCex7bx2O19xahFpYOBDH-2FfZ7zJVBR1u2boYKeJk4cWwlSTCt6lu-2FpFlMWypJCAAtis58uDC8Q-3D-3Dfqll_66RVwPsuQMuiPYmVEfYC7-2BQIzVkntDaV8vWDzwN-2FRd7s4KMu7-2BHAnyXr3LgYHfQ-2Bbq3-2F-2BsGmUwQssIqI4PFtijiakoRRNVvfNDdLobBbs6fz9gUE6qilDFfiwADVF3pSoU6SQgnLXIlt67-2B3aCRcJ7f4ED6g2yF8IO1w6M2sAa3j-2Fyc8H9D-2F7viKJ8swUFMyUe9YtdJOGQvlFPIOcMIxGAT2-2B-2F7oxKviDtWNwf81zi-2BJGjAgQ6gu6jKDZsKLr-2FtG">dataset</a>, can you create a retention chart similar to the one shown in this <a href="https://u4221007.ct.sendgrid.net/ls/click?upn=qwT-2Bl0U064-2B7oRNpPgUya3ZCTrHmVkmSuR7s6F2bYBGjHVdbJn9fhTUaVjvFv06EhMEwllPq90mOxxssn5C-2FETru21BD-2BELzZkCzkVAeMxPcQed23FxC17fbQ4ETTXQkt8qe_66RVwPsuQMuiPYmVEfYC7-2BQIzVkntDaV8vWDzwN-2FRd7s4KMu7-2BHAnyXr3LgYHfQ-2Bbq3-2F-2BsGmUwQssIqI4PFtigkqtXlDUUdg5aMw48KqC6FPBA6xI7fnPrVn5Xpia6nR8sDlU6ftLTuKCp2upKUkDNQ3lpCkv8IgwANfn3ox4tq24U1kD03q8MnijjYssVieEzaCQg0eB7gpV1kXji6fQiapQZi3oNWyU55xbQjyCcAn6tBD5YqG17UDpqIAAYTm">picture</a>? In the picture, each row on the chart represents a user's sign up month and each numeric column represents the percent of users that are still "active".

Note: This dataset came from <a href="https://u4221007.ct.sendgrid.net/ls/click?upn=qwT-2Bl0U064-2B7oRNpPgUyawglfzYgBREhe4-2Bs-2B3DsOs9zf1d3IwnCAmIqQKYoGl3LSGJm1L1Q0gfUCSoQQNy4rw-3D-3DKJik_66RVwPsuQMuiPYmVEfYC7-2BQIzVkntDaV8vWDzwN-2FRd7s4KMu7-2BHAnyXr3LgYHfQ-2Bbq3-2F-2BsGmUwQssIqI4PFtivAN9-2FTxBYsiatKFTV2z8iNyfw5CLyzHJfbL-2FB00zVkyMFSOKZkX6kYAPCl6FiOmCwpJrB1u086fS095zQ0ln3F0iP-2B3zcvXkHEcvq4NrxNzhArz4-2Bt4D3xZYUKvQaIhJ-2F-2FR6NDInux2dl3MONj-2FQWrUGVIiwa-2BhZbnheK3Rfv8V">UC Irvine Machine Learning Repository</a>.

### PSEUDO BRAINSTORM
- Drop time from InvoiceDate
- Drop all duplicate entries that have same CustomerID & InvoiceDate?
- Create FirstPurchase column indicating earliest date Customer signed up
- Create Seniority column indicating how many days customer had made a purchase
- Group CustomerID by InvoiceDate
- ???
- Profit!

### ASSUMPTIONS
- Any transaction from a user on X date is considered activity
- Multiple transactions have no weight
- 24H Time does not matter
- Destruction/modification of data is not allowed. Pandas creates a separate copy so that will be modified
- Periods measured is daily
- If a customer purchases something, has no activity, and then makes a purchase X days later it is considered retention

### NOTES
-

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Creating min groupby column experiment

In [130]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

df.head()

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [132]:
df['Min_Speed'] = None
dfc = df.groupby('Animal')
df.assign(Min_Speed=dfc.transform(min))

   Animal  Max Speed  Min_Speed
0  Falcon      380.0      370.0
1  Falcon      370.0      370.0
2  Parrot       24.0       24.0
3  Parrot       26.0       24.0

## End Experiment

In [245]:
df = pd.read_csv('online_retail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [246]:
# Remove time for easier converting to Pandas Timestamp object
import re

def remove_time(time_str):
    return re.search('\d+\/\d+\/\d+', time_str).group()

df['InvoiceDate'] = df['InvoiceDate'].apply(remove_time)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10,3.39,17850.0,United Kingdom

In [247]:
# Convert from str to Pandas Timestamp obj

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom

In [248]:
# Sanity check on datatype
type(df['InvoiceDate'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [249]:
# TODO figure out how to make a column for first purchase per customerid and invoicedate
# Creating FirstPurchase column
df['FirstPurchase'] = None

# Close but FirstPurchase turns to InvoiceNo https://stackoverflow.com/questions/51074911/pandas-get-minimum-of-one-column-in-group-when-groupby-another
# dfc = df.groupby(['CustomerID'])
# df.assign(FirstPurchase=dfc.transform(min))

# df['FirstPurchase'] = df.groupby(['CustomerID']).agg({'InvoiceDate': ['min']})
# df['FirstPurchase'].reset_index()
# df.head()
# df2 = df.loc[df.groupby(['CustomerID','InvoiceDate'], sort=False)['CustomerID'].idxmin()] # https://stackoverflow.com/questions/46587018/get-lowest-value-after-groupby-pandas

# https://stackoverflow.com/questions/46587018/get-lowest-value-after-groupby-pandas
# grouped_multiple = df.groupby(['CustomerID']).agg({'InvoiceDate': ['min']})
# grouped_multiple.columns = ['FirstPurchase']
# grouped_multiple = grouped_multiple.reset_index()
# grouped_multiple.head()

df[] = df.groupby(['CustomerID']).agg({'InvoiceDate': ['min']})
grouped_multiple.columns = ['FirstPurchase']
grouped_multiple = grouped_multiple.reset_index()
grouped_multiple.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,FirstPurchase
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,2
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,3
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,4

In [200]:
# Create Seniority column indicating how many days customer had made a purchase
min(df['InvoiceDate']), max(df['InvoiceDate'])

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-12-09 12:50:00'))

('01/04/2011', '12/23/2010')

In [54]:
df['InvoiceDate'][0], type(df['InvoiceDate'][0])

('12/01/2010', str)

In [60]:
group = df.groupby('InvoiceDate')
cohort_data = group['CustomerID'].size()
cohort_data = cohort_data.reset_index() # Puts cohort_data in a more readible format
cohort_data

    InvoiceDate  CustomerID
0    01/04/2011        1184
1    01/05/2011        1743
2    01/06/2011        1832
3    01/07/2011        1794
4    01/09/2011        1117
..          ...         ...
300  12/19/2010         522
301  12/20/2010        1763
302  12/21/2010        1586
303  12/22/2010         291
304  12/23/2010         963

[305 rows x 2 columns]

In [72]:
cohort_counts = cohort_data.pivot(index='InvoiceDate', columns='CustomerID')
cohort_counts
# # We need the base for our retention rate calculation
# # Here we just take the first column of cohort_counts
# base = cohort_counts[1]

# # And now we apply the divide method to our cohort_counts, dividing it by the base
# retention = cohort_counts.divide(base, axis=0).round(3)

Empty DataFrame
Columns: []
Index: [01/04/2011, 01/05/2011, 01/06/2011, 01/07/2011, 01/09/2011, 01/10/2011, 01/11/2011, 01/12/2011, 01/13/2011, 01/14/2011, 01/16/2011, 01/17/2011, 01/18/2011, 01/19/2011, 01/20/2011, 01/21/2011, 01/23/2011, 01/24/2011, 01/25/2011, 01/26/2011, 01/27/2011, 01/28/2011, 01/30/2011, 01/31/2011, 02/01/2011, 02/02/2011, 02/03/2011, 02/04/2011, 02/06/2011, 02/07/2011, 02/08/2011, 02/09/2011, 02/10/2011, 02/11/2011, 02/13/2011, 02/14/2011, 02/15/2011, 02/16/2011, 02/17/2011, 02/18/2011, 02/20/2011, 02/21/2011, 02/22/2011, 02/23/2011, 02/24/2011, 02/25/2011, 02/27/2011, 02/28/2011, 03/01/2011, 03/02/2011, 03/03/2011, 03/04/2011, 03/06/2011, 03/07/2011, 03/08/2011, 03/09/2011, 03/10/2011, 03/11/2011, 03/13/2011, 03/14/2011, 03/15/2011, 03/16/2011, 03/17/2011, 03/18/2011, 03/20/2011, 03/21/2011, 03/22/2011, 03/23/2011, 03/24/2011, 03/25/2011, 03/27/2011, 03/28/2011, 03/29/2011, 03/30/2011, 03/31/2011, 04/01/2011, 04/03/2011, 04/04/2011, 04/05/2011, 04/06/2011, 04/07/2011, 04/08/2011, 04/10/2011, 04/11/2011, 04/12/2011, 04/13/2011, 04/14/2011, 04/15/2011, 04/17/2011, 04/18/2011, 04/19/2011, 04/20/2011, 04/21/2011, 04/26/2011, 04/27/2011, 04/28/2011, 05/01/2011, 05/03/2011, 05/04/2011, 05/05/2011, ...]

[305 rows x 0 columns]